body {
  margin: 0;
  padding: 0;
}


ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.margin_right5 {
  margin-right: 5px;
}
.add_new_btn {
  text-align: right;
  margin-bottom: 20px;
}
.message {
  color: #ffffff;
}
.swal-footer {
  text-align: center !important;
}